.grid {
  display: flex;
  margin-left: -32px; /* gutter size offset */
  width: auto;
}

.gridColumn {
  padding-left: 32px; /* gutter size */
  background-clip: padding-box;
}

.gridColumn > div {
  margin-bottom: 32px;
}
