.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.peopleContainer {
  flex: 1;
}

.people {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.feed {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 1280px) {
  .container {
    flex-direction: row;
  }

  .people {
    position: sticky;
    top: 106px;
  }
}
