.container {
  text-align: center;
}

.name {
  font-size: 44px;
  font-weight: 700;
  margin-top: 32px;
}

.bio {
  color: var(--gray-400);
  max-width: 40ch;
  font-size: 20px;
  line-height: 28px;
  margin-top: 12px;
}

@media (min-width: 1280px) {
  .container {
    text-align: left;
  }
}
