/* Base styles */
.base {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 100ms;
  text-align: center;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

/* Variants */
.default {
  background: var(--black-100);
  color: var(--gray-50);

  &:hover {
    background: var(--black-150);
  }
}

.primary {
  background: var(--purple-400);
  color: var(--gray-50);

  &:hover {
    background: var(--purple-500);
  }
}

.danger {
  background: var(--red-400);
  color: var(--gray-50);

  &:hover {
    background: var(--red-500);
  }
}

.outline {
  background: transparent;
  color: var(--purple-400);
  border: 1px solid var(--purple-400);

  &:hover {
    color: var(--gray-50);
    border: 1px solid var(--purple-500);
    background: var(--purple-500);
  }
}

.outlineDanger {
  background: var(--red-50);
  color: var(--red-400);
  border: 1px solid var(--red-400);

  &:hover {
    background: var(--red-50);
  }
}

/* Sizes */
.md {
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
}

.sm {
  padding: 8px 5px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
