.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input {
  outline: 2px solid transparent;

  &:focus {
    outline: 2px solid var(--bluish-gray-400);
  }
}
